@model IEnumerable<greet_up.Models.Events>

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<p id="CreateLink">
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" id="thumbnail">
                <div class="caption" >

                    <h3> @Html.DisplayFor(modelItem => item.EventName)</h3>

                    <p>@Html.DisplayFor(modelItem => item.EventDescription)</p>

                    <p id="detailsBtn">@Html.ActionLink("Event Details", "Details", new { id = item.EventID }, new { @class = "btn btn-primary" })</p>

                </div>
            </div>
        </div>
    }
</div>





